@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap");

html {
  font-size: var(--font-size-base);
}

body * {
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.75rem;
}

p {
  font-size: 1rem;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

@media screen and (min-width: 568px) {
  :root {
    font-size: var(--font-size-medium);
  }
}

@media screen and (min-width: 1280px) {
  :root {
    font-size: var(--font-size-large);
  }
}
